@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme {
    --animate-line-shadow: line-shadow 15s linear infinite
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  @keyframes line-shadow {
  0% {
    background-position: 0 0;
    }
  100% {
    background-position: 100% -100%;
    }
  }
}